<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>5896672016-u6hiln018fhh8nsrog8t8uk81gpf9ibk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5896672016-u6hiln018fhh8nsrog8t8uk81gpf9ibk</string>
	<key>API_KEY</key>
	<string>AIzaSyByx3_K27xMbPbWrYnuxRM35TrwA11Lskc</string>
	<key>GCM_SENDER_ID</key>
	<string>5896672016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sawaki.HimaSoku</string>
	<key>PROJECT_ID</key>
	<string>himasoku-d6cdf</string>
	<key>STORAGE_BUCKET</key>
	<string>himasoku-d6cdf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5896672016:ios:ec4cd1c3b3bebc797ccb95</string>
</dict>
</plist>